/***************************** TOOLBAR *****************************/
.cmsadminpanel {z-index: 9999;font-size: 14px;position: fixed;bottom: 0;right: 15px;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;}
.cmsadminpanel.right {bottom: 0;right: 30px;}
.cmsadminpanel.left {bottom: 0;left: 30px;right: initial;}
.cmsadminpanel.up {bottom: initial;top: 0;left: 30px;right: initial;}
.cmsadminpanel.down {bottom: initial;top: 0;right: 30px;}
.cmsadminpanel ul {-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;background: #333333;display: list-item;margin: 0;}
.cmsadminpanel ul li {line-height: initial;}
.cmsadminpanel ul li a {padding: 0 10px;margin: 0;line-height: 30px;color: #ffffff;border-right: 1px solid rgba(255, 255, 255, 0.2);}
.cmsadminpanel ul li a:hover,.cmsadminpanel ul li a:focus {background: rgba(255, 255, 255, 0.2);color: #ffffff;}
.cmsadminpanel.toggled .listmenu {display: none;overflow: hidden;}
.ddviewmode {margin-top:3px;margin-left:5px;}
@media (min-width: 767px) {
  .cmsadminpanel ul {
    display: inline-block;
    float: left;
  }
  .cmsadminpanel ul li {
    float: left;
  }
}

/***************************** MODULE ACTIONS *****************************/
.relative{position:relative;}
.ActionMenuBorder{-moz-box-shadow:0 0 5px #888;-webkit-box-shadow:0 0 5px #888;box-shadow:0 0 5px #888;z-index:-1;background:transparent;position:absolute;margin:-8px 0 0 -8px;padding:0 16px 16px 0;width:100%;height:100%;border:1px #ccc solid}
.ActionMenu{font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;position:absolute;z-index:906;color:#000;left:10px;top:10px}
.relative.Module:hover{z-index:999 !important}
.ActionMenu .ActionMenuBody{display:none;background:#fff;border:5px solid #aaa;padding:10px!important;border-radius:3px;-moz-border-radius:3px;text-align:left;position:absolute;left:0;top:30px;min-width:480px;-moz-box-shadow:0 0 5px #888;-webkit-box-shadow:0 0 5px#888;box-shadow:0 0 5px #888;display:none;background:#fff;border:5px solid #aaa;padding:10px!important;border-radius:3px;-moz-border-radius:3px;text-align:left;position:absolute;left:0;top:28px;min-width:480px;-moz-box-shadow:0 0 5px #888;-webkit-box-shadow:0 0 5px#888;box-shadow:0 0 5px #888}
.ActionMenu .ActionMenuTag{background:#aaa;background:-moz-linear-gradient(top,#f3f3f3 0,#cfcfcf 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f3f3f3),color-stop(100%,#cfcfcf));filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3',endColorstr='#CFCFCF',GradientType=0);display:block;padding:5px 10px;border:1px #999 solid;border-radius:3px;-moz-border-radius:3px;font-weight:700;font-size:11px;min-width:65px;cursor:default}
.ActionMenu .ActionMenuBody > h4{border:0;display:block;background:0;padding:0;margin:4px 0 6px;width:auto;font-size:18px;}
.ActionMenu .ActionMenuBody > dl{overflow:hidden;padding:10px 0;margin:0;width:96%;border-top:1px #ccc solid}
.ActionMenu .ActionMenuBody > dl dd{float:left;display:inline-block!important;min-width:130px;font-weight:400;clear:none;padding:3px 15px 3px 0;font-size:11px;border:0;margin:0}
.ActionMenu .ActionMenuBody > dl dd > a{background-image:none;text-decoration:none !important;}
.ActionMenu .ActionMenuBody > dl dd > a{display:block;line-height:16px;min-height:16px;color:#328dde;font-size:11px;text-transform:none;font-weight:400}
.ActionMenu .ActionMenuBody > dl dd > a:hover{color:#1B4D79;background:none;text-decoration:underline !important;}
.ActionMenu .ActionMenuBody > dl dd > a.ActionLink{padding-left:20px}
